<section data-ng-controller="HomeController">
    <div class="jumbotron text-center">
        <h2>Real Estate Application</h2>
    </div>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th class="col-sd-7">Features</th>
                <th class="col-sd-5">Do by us</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Users Modules</td>
                <td><i class="glyphicon glyphicon-remove-sign"></i> Implemented by Mean.js</td>
            </tr>
            <tr>
                <td>Adverts Map</td>
                <td><i class="glyphicon glyphicon-ok-sign"></i></td>
            </tr>
            <tr>
                <td>Adverts View</td>
                <td><i class="glyphicon glyphicon-ok-sign"></i></td>
            </tr>
            <tr>
                <td>Advert Map Zoom</td>
                <td><i class="glyphicon glyphicon-remove-sign"></i> <a href="https://github.com/mbostock/d3/wiki/Zoom-Behavior">D3 documentation</a></td>
            </tr>
            <tr>
                <td>Drag & Drop Zone</td>
                <td><i class="glyphicon glyphicon-ok-sign"></i></td>
            </tr>
            <tr>
                <td>Upload Files</td>
                <td><i class="glyphicon glyphicon-remove-sign"></i> Not implemented yet</td>
            </tr>
            <tr>
                <td>Test server side</td>
                <td><i class="glyphicon glyphicon-ok-sign"></i></td>
            </tr>
            <tr>
                <td>Test client side</td>
                <td><i class="glyphicon glyphicon-ok-sign"></i></td>
            </tr>
            <tr>
                <td>Test Shapes</td>
                <td><i class="glyphicon glyphicon-remove-sign"></i> Not implemented in this version</td>
            </tr>
            <tr>
                <td>Heroku implementation</td>
                <td><i class="glyphicon glyphicon-ok-sign"></i></td>
            </tr>
            </tbody>
        </table>
    </div>
</section>
