.undecorated-link:hover {
	text-decoration: none;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}
.ng-invalid.ng-dirty{
    border-color:#FA787E;
}
.ng-valid.ng-dirty{
    border-color:#78FA89;
}

.footer {
	margin-top: 20px;
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

body {
	padding-top: 20px;
    padding-bottom: 20px;
	background-image: url("../img/groot-trans.jpg");
    background-repeat: no-repeat;
    background-position:right top;
}

.header {
  border-bottom: 1px solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}
