<div class="page-header">
	<h1 data-ng-bind="advert.title"></h1>
</div>

<div>Surface : <span data-ng-bind="advert.surface"></span></div>
<div>Price : <span data-ng-bind="advert.price"></span></div>
<div>Nb Room : <span data-ng-bind="advert.room"></span></div>
<div class="pull-right" data-ng-show="authentication.user._id == advert.user._id">
	<a class="btn btn-primary" data-ng-click="viewBuilding.show=false; editBuilding.show=true">
		<i class="glyphicon glyphicon-edit"></i>
	</a>
	<a class="btn btn-primary" data-ng-click="remove()">
		<i class="glyphicon glyphicon-trash"></i>
	</a>
</div>
<small>
	<em class="text-muted">
		Posted by <span data-ng-bind="advert.user.displayName"></span>
	</em>
</small>

<div>
	<div data-ng-click="closeAll()" class="btn btn-primary">Close</div>
</div>
