.popup-building {
    position: absolute;
    width: 1140px;
    top: 20%;
    margin-left: auto;
    margin-right: auto;
    background-color: lightgrey;
    opacity: 0.9;
    font-size: 17px;
    border-radius: 5px;
    -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, .25);
    -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, .25);
    box-shadow: 0 3px 7px rgba(0, 0, 0, .25);
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.popup-building:target {
    transition: all 0.4s ease-in-out;
}

.popup-building-alert {
    position: absolute;
    width: 70%;
    top: 30%;
    left: 10%;
    opacity: 0.9;
    border-radius: 5px;
    -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, .25);
    -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, .25);
    box-shadow: 0 3px 7px rgba(0, 0, 0, .25);
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.popup-building-alert:target {
    transition: all 0.4s ease-in-out;
}

.alert {
    margin-bottom: 0;
}

.close-button {
    background: #606061;
    color: #FFFFFF;
    line-height: 25px;
    position: absolute;
    right: -12px;
    text-align: center;
    opacity: 1;
    top: -10px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
}

.close-button:hover {
    background: #00d9ff;
}

.overlay {
    background: #ffffff;
    opacity: 0;
}

.form-drag-and-drop {
    background: none repeat scroll 0 0 #F8F8F8;
    border: 5px dashed #DDD;
    height: 100px;
    text-align: center;
}

.page-header h3 {
    text-align: center;
}

.panel-title {
    font-size: 25px;
    text-align: center;
    font-variant: small-caps;
}

.panel {
    margin: 0 0 0 0;
    background-color: #EDF0EC;
}

.panel-footer {
    padding: 0 0 0 0;
    height: 45px;
}

.panel-footer .pull-left {
    padding: 10px;
}

.panel-footer .pull-right {
    padding: 5px;
}

.my-messages {
    transition: 1s linear all;
}

.advert_details {
    border: 1px solid lightgrey;
    border-radius: 5px;
    padding: 5px;
    margin: 4px;
}

.text-info {
    min-height: 25px;
    background-color: #DEDEDE;
    border-radius: 5px;
    margin-top: 2px;
    margin-bottom: 2px;
}

.text-header {
    font-weight: bold;
    color: #3D3D3D;
}
